.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipImage {
    position: absolute;
    visibility: hidden;
    width: 204px;
    height: 204px;
    border: 1px solid black;
    z-index: 1;
}

.tooltip:hover .tooltipImage {
    visibility: visible;
}
